body{
  background-color: #f6f6f6;
}
.nobgc{
  background-color: transparent;
}
.bg-dark{
  background-color:#343a40!important;
}
.container{
  margin-top: 10px;
}
.aboutmeicons{
  height:35px;
  width: 35px;
  margin-right: 10px;
}
.aboutmeinfo{
  font-size: 25px;

}
.gray{
  color: #949cae;
}
.school{
  font-size: 20px;
}
.department{
  font-size: 16px;
}
.education{
  font-size: 26px;
}
.progress-bar{
  background-color: #415c76;
}
p{
  margin-bottom: 0px;
}
.col-sm-3{
  padding-left: 2px;
  padding-right: 2px;
}
.work{
  margin-top: 10px;
}
.bottomaligned {
  position:absolute;
  bottom:0;
  margin-bottom:0px;
  right:7px;
}
.icons{
  height: 40px;
  width: 40px;
  margin: 10px 30px 20px 0px;
  filter: grayscale(100%);
  filter: gray;
}
.rounded-circle{
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.card-img-top{
  height: 200px;
  width: 385px;
}
.area{
  margin-bottom:20px;
}
.skillicons{
  margin-top: 10px;
}
.contacticons{
  height: 25px;
  width: 25px;
}
a:not([href]):not([tabindex]){
  color: #50799a;
}
.mainbg{
  background-image:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("img/bg.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}
.card{
  max-width: 402px;
}
.card-deck{
  margin-bottom: 30px;
}
.left{
  float: left;
}
.right{
  float: right;
}
.bc{
  background-color: rgba(0, 0, 0, 0.5);
  filter:alpha(opacity=20); /*ie透明度20%*/
  opacity:0.8;
}
.white{
  color: #fff;
}
.hr1{
  height: 1px;
    background: #bbb;
    background-image: -webkit-linear-gradient(left, #eee, #777, #eee);
    background-image: -moz-linear-gradient(left, #eee, #777, #eee);
    background-image: -ms-linear-gradient(left, #eee, #777, #eee);
    background-image: -o-linear-gradient(left, #eee, #777, #eee);
}
.col-md-5{
  padding-left: 0px;
  padding-right: 0px;
  margin-bottom: 40px;
}
