body{
  background-color: #f6f6f6;
}
.bg-dark{
  background-color:#354e64!important;
}
.container{
  margin-top: 10px;
}
.aboutmeicons{
  height:35px;
  width: 35px;
  margin-right: 10px;
}
.aboutmeinfo{
  font-size: 25px;

}
.gray{
  color: #949cae;
}
.school{
  font-size: 20px;
}
.department{
  font-size: 16px;
}
.education{
  font-size: 26px;
}
.progress-bar{
  background-color: #415c76;
}
p{
  margin-bottom: 0px;
}
.col-sm-3{
  padding-left: 2px;
  padding-right: 2px;
}
.work{
  margin-top: 10px;
}
.bottomaligned {
  position:absolute;
  bottom:0;
  margin-bottom:0px;
  right:7px;
}
.icons{
  height: 40px;
  width: 40px;
  margin: 10px 30px 20px 0px;
  filter: grayscale(100%);
  filter: gray;
}
.rounded-circle{
  height: 200px;
  width: 200px;
  margin: 0 auto;
}
.area{
  margin-bottom:20px;
}
.skillicons{
  margin-top: 10px;
}
.contacticons{
  height: 25px;
  width: 25px;
}
a:not([href]):not([tabindex]){
  color: #50799a;
}
